Anda diberikan sebuah dataset yang berisi catatan penjualan sebuah mall. Sebagai seorang ahli data, seorang stakeholder meminta Anda untuk menyajikan data harian dan bulanan sesuai dengan kriteria tertentu.

A. Sajikan sebuah tabel yang berisi Sales dan Profit harian dari setiap jenis kategori produk (Category).

B. Sajikan sebuah tabel yang berisi jumlah produk terjual (quantity) bulanan dari setiap Segment yang dikelompokkan berdasarkan Region.

Catatan: Date yang digunakan adalah Order Date

In [3]:
%pip install pandas
%pip install xlrd

Requirement already satisfied: pandas in c:\users\mm\appdata\local\programs\python\python310\lib\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\mm\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.4+vanilla)
Requirement already satisfied: pytz>=2020.1 in c:\users\mm\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\mm\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\mm\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     -------------------------------------- 96.5/96.5 kB 918.0 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

df = pd.read_excel('Sample - Superstore.xls')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [10]:
# A. Sajikan sebuah tabel yang berisi Sales dan Profit harian dari setiap jenis kategori produk (Category).
df[['Category','Sales','Profit', 'Order Date']].groupby(['Category','Order Date']).sum()

                          Sales    Profit
Category   Order Date
Furniture  2014-01-06  2573.820  746.4078
           2014-01-07    76.728  -53.7096
           2014-01-10    51.940   21.2954
           2014-01-11     9.940    3.0814
           2014-01-13   879.939   91.2798
...                         ...       ...
Technology 2017-12-25   401.208   71.7174
           2017-12-27   164.388  -35.6174
           2017-12-28    14.850    4.0095
           2017-12-29   302.376   22.6782
           2017-12-30    90.930    2.7279

[2861 rows x 2 columns]

In [17]:
#B. Sajikan sebuah tabel yang berisi jumlah produk terjual (quantity) 
#bulanan dari setiap Segment yang dikelompokkan berdasarkan Region.

#Bentuk kolom baru yaitu Month dan Year untuk menyimpan bulan dan tahun
df['year'] = df['Order Date'].dt.year
df['month'] = df['Order Date'].dt.month

df[['Quantity','Segment', 'year', 'month', 'Region']].groupby(['Region','Segment','year', 'month']).sum()

                                Quantity
Region  Segment     year month
Central Consumer    2014 1            50
                         2            56
                         3            91
                         4            61
                         5            74
...                                  ...
West    Home Office 2017 8            27
                         9            77
                         10           59
                         11          131
                         12          105

[560 rows x 1 columns]